.mediaContainer {
    cursor: pointer;
    padding: 1rem;

    .poster {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 1.5rem;
        transition: transform .3s;
        cursor: pointer;

        &:hover {
            transform: scale(0.95);
        }
    }

    .mediaTitle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 600;
    }
}